* {
    text-align: center;
    padding: 0;
    margin: 0;
    color: black;
    
}

body {
    background-color: gainsboro;

}

header>img {
    margin: 70px 0 50px 0;
}

#nav-bar {
    top: 0 !important;
    position: fixed;
    width: 100%;
    padding: 14px;
    background-color: purple;
}

.nav-link {
    overflow: hidden;
    text-decoration: none;
    margin: 5px 30px 5px 10px;
}

li  {
    list-style: none;
}

form {
    margin: 20px;
}

#email {
    margin: 10px;
    padding: 10px;
    width: 15%;
    font-size: 18px;
    text-align: start;
}

#submit {
    padding: 10px;
    width: 15%;
    background-color: royalblue;
    cursor: pointer;
}

button {
    width: 40%;
}

footer {
    display: inline;
    bottom: 0;

}

footer li {
    padding-left: 4px;
}

#Features > div {
    margin: 20px;
}

#video {
    margin: 20px 0 20px 0;
}

#Pricing {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 100%;
}

.flex-box {
    display: flexbox;
    flex-direction: row;
    width: 15%;
    height: 20%;
}



button {
    padding: 10px;
    background-color: slateblue;
    cursor: pointer;
}
